@{
    ViewBag.Title ="About Me";
}
    <h1 class="text-center viewstitle" style="color: white"><u>@ViewBag.Title.</u></h1>
    <h4 class="text-center" style="color: white">Andrew V. Lazare II</h4>


    <hr style="border: 2px solid white" />


            <div class="row about-section">
                <div class="col-md-6 ftco-animate">
                    @*<img src="~/Images/safe_image.jpg"*@
                    <img src="~/Images/Show1.jpg" class="img-fluid" alt="" style="width:100%"/>
                </div>
                <div class="col-md-6 ftco-animate">
                    <h2 class="mb-4">Music, philosophy, and my dog.</h2>
                    <p style="font-weight: bold; color: white">These are a few of my favorite things! Though I find value in every genre of  music, Funk/Soul and acoustic music have consistently been the genres I gravitate towards the most. As I dove into musical theory and the math involved in understanding it, I soon realized that these concepts were a driving force within some of the early philosopher's thought process. This realization began my studies in philosophy as a whole.  I will be posting about my favorite philsophers and their quotes in this blog.</p>
                </div>
                <div class="col-md-push-11 mt-5 ftco-animate">
                    <p style="font-weight: bold; color: white">My dogs name is Zappa (Shown in the picture to the left). He is an all white, Rednosed Pitbull that I saved when he was 7 weeks old.  I have taken an absurd amount of pictures in our 5 year companionship and I will be posting my favorites in the blog as well.  Why?  Just look how cute he is. </p>
                    @*<h3 class="mb-4 mt-5">Follow us here</h3>*@
                    @*<ul class="ftco-footer-social list-unstyled">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>*@
                </div>
            </div>
        @*</div>*@<!-- end: page-container-->
    @*</section>*@

    <!-- loader -->
    @*<div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
    </div>*@


