@model AndrewL_Blog.Models.ApplicationUser




<h8 class="text-center viewstitle ">Profile Page</h8>
<h5 class="mb-4 text-center">@Model.DisplayName</h5>

<hr style="border: 2px solid white" />

<div class="row about-section">
    <div class="col-md-6 ftco-animate">
        <img src="@Model.MediaURL" class="img-fluid" alt="" style="width:100%" />
    </div>
    @*<div class="col-md-6 ftco-animate">

        <div class="col-md-10 mt-5 ftco-animate">
            <p>@Html.Raw(Model.BlogPostBody)</p>


        </div>*@
</div>
